html, body {
	margin: 0px;
	padding: 20px 5px 5px 10px;
}

#header {
	background: lightblue;
}

#content {
	background: lightgray;
}

#sidebar {
	background: lightgreen;
}

#defaultTopics ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	
}

#defaultTopics ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}
