html,body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: white;
	background: white;
}

h1 {
	margin: 0px;
	padding: 0px;
	color: #26537C;
}

a,a:link,a:active,a:visited {
	text-decoration: none;
	color: #0C5DA5;
}

a:hover {
	color: #FF9500;
}

textarea {
	width: 400px;
	height: 100px;
}
.newPost {
	color: orangered;
	font-weight: bold;
}

.postByline {
	font-size: x-small;
}

.postActions a:link,.postActions a:visited,.postActions a:active {
	font-size: small;
	color: gray;
	font-weight: bold;
}

.postActions a:hover {
	text-decoration: underline;
}

.comment .replies {
	text-indent: 1em;
}

.commentByline {
	font-size: x-small;
}

.comment {
	padding: 5px;
	border-left: 1px solid gray;
}

.comment p {
	padding: 0px;
	margin: 0px;
}

.comment .commentActions a:link,.comment .commentActions a:visited,.comment .commentActions a:active {
	font-size: small;
	color: gray;
	font-weight: bold;
}

.comment .commentActions a:hover {
	text-decoration: underline;
}

.comment .replies {
	text-indent: 1em;
}

.commentCount a:link,.commentCount a:visited,.commentCount a:active {
	color: #A66100;
	font-weight: bold;
}

.commentCount a:hover {
	color: #FFB040;
}

/* Begin header styles */
#header {
	background: #679FD2;
	height: 70px;
	padding: 5px;
	color: white;
}

#logo {
	float: left;
}

#logo a:link,#logo a:visited,#logo a:active {
	color: white;
}

#logo a:hover {
	color: #FF9500;
}

#loginContainer {
	float: right;
}

#defaultTopics {
	float: left;
	clear: both;
	font-size: small;
}

#defaultTopics a:link,#defaultTopics a:visited,#defaultTopics a:active {
	color: #FFC573;
}

#defaultTopics a:hover {
	color: #0C5DA5;
}

#defaultTopics ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#defaultTopics ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}
/* End header styles */

/* Begin body styles */
#contentContainer {
	float: left;
	width: 100%;
}

#content {
	margin-right: 310px;
	padding: 5px 5px 5px 20px;
	color: black;
}

#content ul {
	padding: 0px;
}

#content ul li {
	list-style: none;
	padding-top: 5px;
}

#parentTopics ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#parentTopics ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}

#byline {
	font-size: x-small;
}

#postContents {
	padding: 20px;
	background-color: #679FD2;
}

#sidebar {
	float: right;
	width: 300px;
	text-align: center;
	margin-left: -310px;
	padding: 5px;
	background-color: #043A6B;
}

#sidebar a:link,#sidebar a:visited,#sidebar a:active {
	color: #FFC573;
}

#sidebar a:hover {
	color: #FF9500;
}

/* End body styles */