html, body {
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	padding: 0px;
}

#header {
	background: lightblue;
	height: 50px;
}

#logo {
	background: lightcyan;
	float: left;
}

#loginContainer {
	float: right;
}

#defaultTopics {
	background: lightyellow;
	float: left;
	clear: both;
}

#defaultTopics ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	
}

#defaultTopics ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}

#content {
	background: lightgray;
	float: left;
	min-width: 600px;
}

#parentTopics ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	
}

#parentTopics ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}

#sidebar {
	background: lightgreen;
	float: right;
	min-width: 250px;
}
